.container {
    text-align: center;
}

.book-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding-top: 10px;
    padding-bottom: 50px;
}

.image-section {
    flex: 1;
    text-align: center;
}

.image-section img {
    width: 300px;
    height: Auto;
}

.details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* Align the entire section to the top */
    text-align: left
}

.details-section h2 {
    font-size: 24px; /* Increase the font size */
}

.details-section p {
    font-size: 18px; /* Increase the font size */
}

.order-button {
    padding: 15px 30px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline from the link */
    display: inline-block; /* Ensure the button behaves as a block element */
}

.order-button:hover {
    background-color: #ff7f00;
}

.order-link {
    color: #fff; /* Set link color to match button text color */
    text-decoration: none; /* Remove underline from the link */
}